<div class="outer-div">
  <div class="product">
    <app-product class="main-card" *ngIf="product" [product]="product" [action]="false"></app-product>
  </div>
  <div>
    <h2>Similar items</h2>
    <mat-tab-group class="demo-tab-group" [selectedIndex]="selectedTab" (focusChange)="selectedTab=$event.index">
        <mat-tab [label]="(r._source.title | slice:0:20) + '...'" *ngFor="let r of response">
          <div class="demo-tab-content">
            <mat-chip-list>
              <mat-chip id="score" [style.background]="'rgba(0,153,0,' + (r._score/maxScore) + ')'"
              selected="true">{{ r._score / maxScore | percent }}</mat-chip>
            </mat-chip-list>
            <app-product [product]="r"></app-product>
          </div>
        </mat-tab>
      </mat-tab-group>
  </div>
</div>
<button mat-mini-fab id="config-btn" color="primary" (click)="openConfigDialog()">
  <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
</button>
