<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image" [ngClass]="product._type"></div>
    <mat-card-title>{{ product._source.title }}</mat-card-title>
    <mat-card-subtitle>
      {{ product._source.brand }} <br>
      Price: {{ product._source.price | currency:"₹":0 }}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <img [src]="product._source.image_url">
    <div [innerHTML]="content"></div>
  </mat-card-content>
  <mat-card-actions *ngIf="action">
    <button mat-raised-button color="accent" (click)="getSimilar(product)">Find Similar</button>
  </mat-card-actions>
</mat-card>
