<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ title }}</span>
    <span class="example-spacer"></span>
    <form class="example-form">
      <mat-form-field class="example-full-width" [floatLabel]="'always'" color="accent">
        <mat-label></mat-label>
        <span matPrefix><i class="material-icons">search</i> Search for&nbsp;</span>
        <input matInput [formControl]="searchCtrl">
      </mat-form-field>
    </form>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
