/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
}

.example-header-image.amazon{
    background-image: url('assets/site_logo/amazon.jpg');
}
    
.example-header-image.flipkart{
    background-image: url('assets/site_logo/flipkart.jpg')    
}
.example-header-image {
    background-size: cover;
}
